.lineaInferiorMiCuenta{
    color: #ffffff;
    border: 1px solid;
}
.tipografiaMiCuenta {
    font-size: 1em;
    text-align: center;
    color: #ffffff;
}
.tipografiaUsuario {
    font-size: 1em;
    text-align: end;
    color: #ffffff;
    text-transform: uppercase;//Mayuscula
    font-weight: bold;//Negrilla
}
.itemMenu{
    color: #ffffff;
    list-style: none;
}
.itemMenu:hover{
    color: #ffffff;
    
}
